//KV
.kv {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("/img/aboutKv.jpg");

  background-size: cover;
  background-position: center;

  .kvTitleColumn {
    color: var(--gl);
    background-color: var(--main);
    width: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 767px) {
      width: 80%;
    }
  }

  @media screen and (max-width: 767px) {
    height: 100vh;
  }
}

//特徴
.feature {
  max-width: 1920px;
  .featureFeatureColumn {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .featureFeaturePic {
      width: 30%;
      overflow: hidden;
      :hover {
        transform: scale(1.07);
        transition-duration: 0.3s;
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

//人物
.persons {
  max-width: 1920px;
  @media screen and (max-width: 767px) {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .personsPic {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .personsProfile {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: left;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-left: 0;
      display: block;
    }
    h2 {
      margin: 0.5em 0;
    }

    .personsProfileDetail:nth-child(1) {
      margin-right: 7em;
      @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 5em;
      }
    }
    .miwakoProfileDetail {
      line-height: 2em;
    }
    .imaiProfileDetail {
      line-height: 2.5em;
    }
  }
}

//アクセス
.access {
  background-color: var(--main);
  padding: 2em 0 5em 0;
  .accessColumn {
    max-width: 1920px;
    margin-top: 4em;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: block;
    }

    .accessDetail {
      h3 {
        font-weight: 700;
        margin-bottom: 0.5em;
      }
      h5 {
        line-height: 1.8em;
      }
    }
  }

  .accessDetail h3:nth-child(3) {
    margin-top: 2em;
  }

  .accessMap {
    width: 45%;
    background-color: var(--main);
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 3em;
    }
    .mapImage {
      aspect-ratio: 1/1;
      img {
        object-fit: cover;
      }
    }
    .mapButton {
      background-color: var(--main);
      cursor: pointer;
      text-align: center;
      border-radius: 9999px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        padding: 0.6em 3em;
      }
    }
  }
}
