//KV
.kv {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("/img/328340252_1811314825908288_6142992496288819254_n.jpg");
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    height: 100vh;
  }

  .kvImgback {
    background-color: var(--main);
    mix-blend-mode: multiply;
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
}

.kvText {
  color: var(--gl);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 4px 12px var(--main);
  z-index: 99;
}

//特徴
.feature {
  max-width: 1920px;
  .featureFeatureColumn {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .featureFeaturePic {
      width: 30%;
      overflow: hidden;
      :hover {
        transform: scale(1.07);
        transition-duration: 0.3s;
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

//人物
.persons {
  max-width: 1920px;
  @media screen and (max-width: 767px) {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .personsPic {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .personsProfile {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-left: 0;
      display: block;
    }
    h2 {
      margin: 0.5em 0;
    }

    .miwakoProfileDetail {
      line-height: 2.2em;
    }
  }
}

//Story
.story {
  margin-top: 7em;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 88%;
    flex-direction: column;
  }
  .storyText {
    line-height: 2.2;
    width: 100%;
    @media screen and (max-width: 767px) {
      order: 1;
    }
  }
  .storyPic1 {
    padding-left: 2em;
    @media screen and (max-width: 767px) {
      order: 2;
      padding: 0;
      margin-top: 1em;
    }
  }
  .storyPic2 {
    padding-right: 2em;
    @media screen and (max-width: 767px) {
      order: 2;
      padding: 0;
      margin-top: 1em;
    }
  }
}

//アクセス
.access {
  background-color: var(--main);
  padding: 4em 0 5em 0;
  .accessColumn {
    max-width: 1920px;
    margin-top: 4em;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: block;
    }

    .accessDetail {
      p {
        line-height: 2;
      }
    }
  }

  .accessMap {
    width: 45%;
    background-color: var(--main);
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 3em;
    }
    .mapImage {
      aspect-ratio: 1/1;
      img {
        object-fit: cover;
      }
    }
    .mapButton {
      background-color: var(--main);
      cursor: pointer;
      text-align: center;
      border-radius: 9999px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        padding: 0.6em 3em;
      }
    }
  }
}
