.contact {
  .contactInfo {
    @media screen and (max-width: 767px) {
      width: 89%;
    }
  }

  .formColumn {
    margin-bottom: 5em;
  }

  .contactContents {
    @media screen and (max-width: 767px) {
      width: 89%;
    }
    margin-left: auto;
    margin-right: auto;
    h3 {
      font-weight: 700;
    }

    .privacyPolicy {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .button {
      opacity: 50%;

      &.active {
        opacity: 100%;
        transition-duration: 0.5s;
      }
    }
    // .thanksMessage {
    //   display: none;
    //   &.active {
    //     display: block;
    //   }
    // }
  }
}
