//フィルター
.filter {
  &.varietyFilterColumn {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      width: 89%;
    }

    // フィルターPC
    .varietyListFilter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .flowerSpecFilter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flowerSpecDetail {
          position: relative;
          display: flex;
          align-items: center;
          margin-right: 1.5em;

          .pulldown {
            width: 0.6em;
            margin-left: 0.3em;
          }

          .colorPullDownMenu {
            overflow: hidden;
            display: inline-block;
            height: 0;
            padding: 0;
            background-color: var(--gl);
            width: 10em;
            position: absolute;
            z-index: 9999;
            top: 100%;
            left: 0%;
            transform: translateY(3%);

            .FilterSubMenuContents {
              width: 72%;
              display: flex;
              justify-content: left;
              align-items: center;
              padding: 0.2em 0;
              h5 {
                padding-left: 0.5em;
              }
            }
            .ban {
              margin-top: 0.2em;
            }
            &.active {
              overflow: visible;
              height: auto;
              border: 1px solid var(--main);
              padding: 0.5em 1em;
            }
          }
        }
      }

      .varietyNameFilter {
        input[type="text"] {
          width: 100%;
          height: 2em;
          border: 2px solid var(--main);
          padding: 0.7em;
          box-sizing: border-box;
        }
        input::-webkit-input-placeholder {
          font: "Noto Serif JP", serif;
          color: var(--main);
        }
        .inputWithIcon {
          position: relative;
        }
        .inputWithIcon img {
          width: 20%;
          object-fit: contain;
          padding: 0.4em;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          color: var(--main);
        }
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    // フィルターSP
    .varietyListFilterSp {
      .FilterButtonSp {
        display: flex;
        justify-content: right;
        align-items: center;
        h4 {
          margin-right: 0.3em;
        }
      }

      //SPフィルター画面
      .spFilter {
        overflow: hidden;
        width: 0;
        height: 0;
        &.active {
          overflow: scroll;
          position: fixed;
          top: 0%;
          left: 0%;
          z-index: 99999;
          width: 100vw;
          height: 100vh;
          background-color: var(--gl);

          .spFilterContents {
            overflow: scroll;
            h3 {
              font-weight: 700;
            }

            .spFilterTitle {
              margin-bottom: 5em;
            }

            .spFilterBan {
              width: 1.5em;
              position: absolute;
              top: 0%;
              right: 0%;
              transform: translate(-50%, 50%);
            }

            .serchForm {
              width: 40%;
              position: absolute;
              top: 19%;
              right: 10%;

              input {
                width: 100%;
                border: soild 0.05em var(--main);
              }

              img {
                width: 20%;
                object-fit: contain;
                padding: 0.4em;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: var(--main);
              }
            }

            .spFilterMenu {
              margin: auto;

              .spFilterMenuDetail {
                display: flex;
                justify-content: left;
                align-items: center;
                .pulldown {
                  display: inline-block;
                  width: 0.5em;
                  margin-left: 2em;
                }
              }

              .spFilterMenuBorder {
                background-color: var(--main);
                width: 100%;
                height: 0.02em;
              }
            }

            .spColorMenu {
              margin-bottom: 1.7em;
            }

            .colorPullDownMenu {
              overflow: hidden;
              height: 0em;
              &.active {
                overflow: visible;
                width: 100%;
                height: auto;
                padding: 0.5em 1em 0 1em;
                z-index: 9999;
                .FilterSubMenuContents {
                  display: flex;
                  justify-content: left;
                  align-items: center;
                  margin: 0.3em;
                  h5 {
                    margin-left: 0.5em;
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .tagOrReset {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tag {
        display: flex;
        justify-content: left;
      }
    }
    .specTag {
      border: 1px solid var(--main);
      padding: 0.2em 0.5em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 1em;
      @media screen and (max-width: 767px) {
        padding: 0.1em 0.5em;
        margin-right: 0.5em;
      }
      .ban {
        width: 0.5em;
        margin-left: 0.7em;
        @media screen and (max-width: 767px) {
          margin-left: 0.5em;
        }
      }
    }
  }
}
