//フッター
.footer {
  background-color: var(--main);
  color: var(--gl) !important;

  p {
    color: var(--pink);
    font-weight: 700;
    margin-bottom: 1.5em;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 1.5em;
  }
  .footerColumn {
    width: 89%;
    max-width: 1920px;
    padding: 7em 0 4em 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    h3 {
      margin-top: 0.5em;
    }
    @media screen and (max-width: 767px) {
      padding: 5em 0 4em 0;
      display: block;
    }
  }
  .footerContentsDetail,
  .footerContactDetail {
    h5,
    h6 {
      margin-bottom: 1em;
    }
    h5:last-child {
      margin-top: 1.2em;
    }
    h6 {
      padding-left: 1em;
    }
    .footerMenu {
      cursor: pointer;
    }

    .contactButton {
      width: 8em;
      @media screen and (max-width: 767px) {
        width: 10em;
      }
      :hover {
        opacity: 0.7;
      }
    }
    //SNS
    .snsColumn {
      display: flex;
      justify-content: left;
      :hover {
        opacity: 0.7;
      }
      @media screen and (max-width: 767px) {
        width: 36%;
      }
      .snsIcon {
        margin-right: 1em;
      }
    }
  }

  .rosetiqueInfo,
  .footerContents {
    padding-right: 2em;

    @media screen and (max-width: 767px) {
      padding: 0;
      margin-bottom: 4em;
    }
  }
  .footerCopilight {
    text-align: center;
    padding: 1.5em 0;
    @media screen and (max-width: 767px) {
      padding: 2em 0;
    }
  }
}
