.foncol {
  color: white;
}

.backColor1 {
  background-color: #832a3f;
}

.backColor2 {
  background-color: #8e1b1b;
}

.kv {
  width: 100vw;
  height: 0;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-image: url("/img/fv.png");
  background-size: cover;
  @media screen and (max-width: 767px) {
    padding-top: 141.8%;
    background-image: url("/img/fv_sp.png");
  }
}

.wrapper {
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto;
  @media screen and (min-width: 1921px) {
    overflow-x: visible !important;
  }
}

// コピー
.copyPattern {
  width: 100vw;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.copyPatternSP {
  width: 100vw;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.copy {
  margin: auto;
  margin-top: 6em;
  @media screen and (max-width: 767px) {
    margin-top: 0em;
  }
}

.copyText {
  position: relative;
  @media screen and (max-width: 767px) {
    position: static;
    text-align: center;
  }
}

.copySubTitle {
  width: 32%;
  margin-left: 0;
  margin-bottom: 1.5em;
  @media screen and (max-width: 767px) {
    width: 64%;
    margin-bottom: 0em;
  }
}

.copySubTitleBorder {
  position: relative;
  width: 32%;
  z-index: 99;

  @media screen and (max-width: 767px) {
    width: 54%;
  }
}

.copySubTitleCoating {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(2%, 1%);
  z-index: 1;
  opacity: 0;
  @media screen and (max-width: 767px) {
    width: 48%;
    transform: translate(12%, 4%);
  }
  &.after {
    opacity: 1.5;
    transition-delay: 1s;
    transition-duration: 1s;
  }
}

.copySubTitleText {
  width: 28%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(7%, 30%);
  z-index: 100;
  opacity: 0;
  @media screen and (max-width: 767px) {
    width: 42%;
    transform: translate(18%, 28%);
  }
  &.after {
    opacity: 1.5;
    transition-delay: 0.7s;
    transition-duration: 1s;
  }
}

.copyBorder {
  width: 64%;
  margin-top: 0.5em;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin: 0.5em auto;
  }
}

.copyImage {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translateY(-28%);
  width: 50%;
  @media screen and (max-width: 767px) {
    position: static;
    transform: translate(0%, 0%);
    margin: 2em auto 0 auto;
    width: 90%;
  }
}

.team {
  margin-top: 30em;
  position: relative;
  @media screen and (max-width: 767px) {
    margin: 5em auto 0 auto;
  }
}

.teamDecoration {
  position: absolute;
  width: 50%;
  top: 0%;
  left: 0%;
  transform: translateY(-100%);
  @media screen and (max-width: 767px) {
    position: static;
    width: 72%;
    transform: translate(0%, 0%);
  }
}

.teamDecorationCircle {
  position: absolute;
  width: 16%;
  top: 0%;
  right: 0%;
  transform: translate(-100%, -64%);
  @media screen and (max-width: 767px) {
    width: 20%;
    left: 70%;
    transform: translateY(36%);
  }
}

.teamTittle {
  text-align: center;
  position: relative;
  h1 {
    position: relative;
    z-index: 99;
  }
  @media screen and (max-width: 767px) {
    margin: auto;
    h1 {
      margin: auto auto 1em auto;
      width: 95%;
    }
  }
}

.teamDecorationBorder {
  z-index: 0;
  position: absolute;
  width: 64%;
  bottom: 0%;
  right: 0%;
  transform: translate(0%, 28%);
}

.teamDetail {
  margin-top: 10em;
  @media screen and (max-width: 767px) {
    margin-top: 4em;
  }
}

.teamAOverview {
  margin: auto;
  text-align: center;
  h4 {
    margin-top: 1em;
  }
  @media screen and (max-width: 767px) {
    width: 85%;
  }
}

.teamMember {
  margin: 3em auto 0em auto;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    display: block;
    margin: 2em auto 0em auto;
  }
}

/*メンバー詳細情報*/

.team .teamMemberDetail:nth-child(n + 2):nth-child(-n + 4) {
  @media screen and (min-width: 768px) {
    margin-left: 1.5em;
  }
  @media screen and (max-width: 767px) {
    margin-top: 1.5em;
  }
}

.teamMemberDetail {
  width: calc(25% - 0.5em);
  position: relative;
  border: 4px solid #6b5c54;
  text-align: center;
  
  @media screen and (max-width: 767px) {
    width: 85%;
    margin: auto;
    border: 3px solid #6b5c54;
  }

  &:before {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0.1em, 0.1em);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    content: "";
    z-index: -1;
  }
  /*メンバー1*/
  &.roseRed {
    &:before {
      background-color: #ce3e60;
    }
    .teamMemberguildInfo {
      background-color: #832a3f;
    }
    .buttonContets {
      background-color:#832a3f;
      box-shadow: 0.15em 0.15em 0 #F06788; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }
  /*メンバー2*/
  &.red {
    &:before {
      background-color: #e22b2b;
    }
    .teamMemberguildInfo {
      background-color: #8e1b1b;
    }

    .buttonContets {
      background-color: #8e1b1b;
      box-shadow: 0.15em 0.15em 0 #f58a8a; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }

  /*メンバー3*/
  &.orange {
    &:before {
      background-color: #e96123;
    }
    .teamMemberguildInfo {
      background-color: #9a4119;
    }

    .buttonContets {
      background-color: #9a4119;
      box-shadow: 0.15em 0.15em 0 #f79c74; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }

  /*メンバー4*/
  &.turquoise {
    &:before {
      background-color: #5eaeb5;
    }
    .teamMemberguildInfo {
      background-color: #3e7074;
    }

    .buttonContets {
      background-color: #3e7074;
      box-shadow: 0.15em 0.15em 0 #2b4f52; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }

  /*メンバー5*/
  &.green {
    &:before {
      background-color: #2da168;
    }
    .teamMemberguildInfo {
      background-color: #24583f;
    }
    
    .buttonContets {
      background-color: #24583f;
      box-shadow: 0.15em 0.15em 0 #42de91; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }

  /*メンバー6*/
  &.blue {
    &:before {
      background-color: #075da5;
    }
    .teamMemberguildInfo {
      background-color: #144064;
    }

    .buttonContets {
      background-color: #144064;
      box-shadow: 0.15em 0.15em 0 #5675f5; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }

  /*メンバー7*/
  &.yellow {
    &:before {
      background-color: #f2ce16;
    }
    .teamMemberguildInfo {
      background-color: #a28a0d;
    }

    .buttonContets {
      background-color: #a28a0d;
      box-shadow: 0.15em 0.15em 0 #f4e38d; // ボタンの影
    }
    .buttonContets:hover{
        transform: translate(0.15em, 0.15em);
        box-shadow: none;
    }
  }
}

.memberName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em auto 0.3em auto;

  h2 {
    padding-right: 0.3em;
  }

  .twitterIcon {
    width: 100%;
    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }

  @media screen and (max-width: 767px) {
    width: 72%;
  }
}

.teamMemberContents {
  // width: 78%;
  padding: 1em;
}

.memberSubName {
  margin-bottom: 2.4em;
}

.teamMemberguildInfo {
  margin: 0.4em 0;
  padding: 0.2em;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .buttonWidth:nth-child(1) {
    width: 57%;
  }
  .buttonWidth:nth-child(2) {
    width: 39%;
  }
  .buttonContets {
    position: relative;
    padding: 0.5em 0.1em;
    border-radius: 9999px;
  }
}

// 特典
.reward {
  position: relative;
  margin: 20em auto;
  @media screen and (max-width: 767px) {
    margin: 7em auto;
  }
}

.rewardDecoration {
  width: 72%;
  position: absolute;
  top: 0em;
  left: 0em;
  transform: translateY(-110%);
  @media screen and (max-width: 767px) {
    position: static;
    width: 90%;
    left: 0em;
    transform: translateX(0%);
  }
}

.rewardDecorationCircle {
  width: 27%;
  position: absolute;
  top: 0em;
  right: 0em;
  transform: translate(-42%, -72%);
  @media screen and (max-width: 767px) {
    transform: translate(0%, -20%);
  }
}

.teamRewardContents {
  margin: 4em auto;
  @media screen and (max-width: 767px) {
    margin: 2em auto 0 auto;
    width: 85%;
  }
}

.eventRewardSection {
  margin: 16em auto 4em auto;
  text-align: center;
  position: relative;
  @media screen and (max-width: 767px) {
    margin: 12em auto 4em auto;
  }
}

.eventRewardDecoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  transform: translate(-28%, -45%);
  @media screen and (max-width: 767px) {
    width: 36%;
    left: 0;
    transform: translate(0%, -60%);
    img {
      aspect-ratio: 1 / 2;
      object-fit: cover;
      object-position: right;
    }
  }
  @media screen and (min-width: 1920px) {
    overflow-x: visible !important;
  }
}

.eventRewardDecoration_2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 18%;
  transform: translate(-48%, -80%);
  @media screen and (max-width: 767px) {
    width: 32%;
    transform: translate(0%, -80%);
  }
}

.rewardSectionTittle {
  width: 36%;
  margin: auto;
  @media screen and (max-width: 767px) {
    width: 60%;
  }
}

.rewardSectionText {
  margin: 2em auto 0 auto;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin: 1em auto 0 auto;
  }
}

.rewardColumn {
  position: relative;
  margin: 6em auto 0 auto;
  @media screen and (max-width: 767px) {
    margin: 0em auto 3em auto;
    width: 85%;
  }
  h6 {
    text-align: right;
    margin: 2em auto;
    @media screen and (max-width: 767px) {
      margin: 4em auto 0em;
      text-align: left;
    }
  }
}

.rewardSectionHukidashi {
  width: 38%;

  @media screen and (max-width: 767px) {
    width: 50%;
  }
}

// イベント参加セクション

.join {
  position: relative;
  margin-top: 32em;
  @media screen and (max-width: 767px) {
    margin-top: 10em;
  }
}

.joinTittle {
  margin: 0 auto 7em auto;
  @media screen and (max-width: 767px) {
    margin: 0 auto 2em auto;
    width: 85%;
  }
}

.tittleImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  transform: translate(20%, -90%);
  @media screen and (max-width: 767px) {
    width: 48%;
    right: 0%;
    transform: translate(0%, -72%);
    img {
      aspect-ratio: 1.5 / 2;
      object-fit: cover;
      object-position: left;
    }
  }
}

.joinColumn {
  margin: 1em auto 1.5em auto;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    width: 77%;
    display: block;
  }
}

.joinColumnDetail {
  width: 32%;
  position: relative;
  border: 4px solid #6b5c54;
  padding: 2em 1em 0em 1em;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin: 1em auto;
    border: 3px solid #6b5c54;
  }

  .joinIcon {
    margin: 1em auto 0 auto;
    width: 60%;
    img {
      aspect-ratio: 2 / 1.5;
      object-fit: contain;
      object-position: center;
    }
  }

  h3 {
    padding-top: 1.8em;
  }

  h5 {
    padding-top: 1em;
  }

  &:before {
    background-color: #dbc77c;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0.1em, 0.1em);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    content: "";
    z-index: -1;
  }
}

.joinNotes {
  margin: 3em auto auto auto;
  @media screen and (max-width: 767px) {
    margin: 1.5em auto 2em auto;
  }
}

// システムセクション
.system {
  position: relative;
  margin-top: 20em;
  @media screen and (max-width: 767px) {
    margin-top: 10em;
  }
}

.systemTittle {
  h1 {
    margin-bottom: 1em;
  }
}

.systemDecoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  transform: translate(-10%, -50%);
  @media screen and (max-width: 767px) {
    transform: translate(0%, -90%);
  }
}

.systemImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 24%;
  transform: translate(-25%, -72%);
  @media screen and (max-width: 767px) {
    width: 28%;
    transform: translate(0%, -78%);
  }
}

.systemContents,
.entirePowerSystem,
.caslePointSystem {
  margin: 4em auto;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin: 2em auto;
  }
  h2 {
    margin-top: 4em;
    margin-bottom: 1em;
  }
}

.systemDetail {
  margin: 1em auto 1em auto;
  width: 72%;
  position: relative;
  border: 4px solid #6b5c54;
  padding: 0.5em 1em 0.5em 1em;

  &:before {
    background-color: #dbc77c;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0.1em, 0.1em);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    content: "";
    z-index: -1;
  }
  &.levelPoint {
    width: 47% !important;
    margin: 1em 0em 0.3em 0em;
  }
  @media screen and (max-width: 767px) {
    width: 77%;
    margin: 0.6em auto 0.6em auto;
    padding: 0.3em 0.2em 0.3em 0.2em;
    border: 3px solid #6b5c54;
  }
  &.rewardSquare {
    width: 100%;
    text-align: center;
    padding: 2em 1em;
    @media screen and (max-width: 767px) {
      padding: 1em 1em;
    }
  }
}

.plus {
  width: 3%;
  margin: 1.5em auto;
  @media screen and (max-width: 767px) {
    margin: 1em auto;
  }
}

.levelPointSystemColumn {
  width: 72%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    width: 77%;
  }
}

// ヘルプセクション
.helpSection {
  margin: 8em auto;
  @media screen and (max-width: 767px) {
    width: 85%;
    margin: 4em auto;
  }
  h1 {
    @media screen and (max-width: 767px) {
      margin-bottom: 1em;
    }
  }
}

.helpSectionButton {
  width: 32%;
  margin: 3em auto 0.5em auto;
  background-color:#DBC87E;
  padding: 0.7em 0.1em;
  border-radius: 9999px;
  box-shadow: 0.22em 0.4em 0 #6b5c54; // ボタンの影
  @media screen and (max-width: 767px) {
    width: 64%;
    margin: 2em auto 2em auto;
  }
}

.helpSectionButton:hover{
  transform: translate(0.15em, 0.15em);
  box-shadow: none;
}

// 利用規約セクション

.footerTerms {
  background-color: #ded9c3;
  width: 100vw;
}

.terms {
  width: 72%;
  margin: auto;
  @media screen and (max-width: 767px) {
    width: 85%;
  }
}

.termsText {
  margin: auto;
  padding: 2em 0 3em 0;

  h3 {
    margin-top: 3em;
  }
  h5 {
    margin-top: 2em;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 2em 0 2em 0;
    h3 {
      margin-top: 2em;
    }
  }
}
