.kv {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;

  .kvImgback {
    background-color: var(--main);
    mix-blend-mode: multiply;
    opacity: 0.2;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  .kvImg {
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 0;
    -webkit-animation: zoom 30s 1;
    animation: zoom 60s 1;
    animation-fill-mode: forwards;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1,
  h5 {
    color: var(--gl);
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  .kvTitleColumn {
    top: 60%;
    left: 5%;
    z-index: 2;

    h1,
    h5 {
      text-shadow: 3px 4px 12px var(--main);
    }

    @media screen and (max-width: 767px) {
      top: 56%;
      .kvTitle {
        margin-top: 0.5em;
      }
    }
  }
}

//装飾
.decoration {
  opacity: 0.5;
  position: absolute;
  top: 0%;
  left: 5%;
  &.aboutDecoration1 {
    width: 10%;
    max-width: 200px;

    @media screen and (max-width: 767px) {
      width: 20%;
      left: 0%;
      transform: translate(-20%, -20%);
    }
  }
  &.newsDecoration1 {
    width: 10%;
    max-width: 200px;

    @media screen and (max-width: 767px) {
      width: 24%;
      left: 0%;
      transform: translate(-20%, -20%);
    }
  }
  &.collectionDecoration1 {
    width: 50%;
    transform: translateY(-120%);
    @media screen and (max-width: 767px) {
      width: 88%;
      left: 0%;
    }
  }
  &.varityDecoration1 {
    width: 40%;
    transform: translateY(-100%);
    @media screen and (max-width: 767px) {
      width: 88%;
    }
  }
}

.decoration2 {
  width: 20%;
  position: absolute;
  top: 0%;
  right: 0%;
  &.aboutDecoration2 {
    width: 10em;
    height: 16em;
    max-width: 400px;
    transform: translate(-40%, 20%);
    @media screen and (max-width: 767px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.decoration3 {
  position: absolute;
  bottom: 0%;
  left: 5%;
  &.aboutDecoration3 {
    width: 24%;
    height: 20%;
    max-width: 500px;
    transform: translate(40%, 180%);
    @media screen and (max-width: 767px) {
      width: 72%;
      height: 7%;
      left: 0%;
      transform: translateY(130%);
    }
    img {
      object-fit: cover;
    }
  }
}

.aboutDecoration4 {
  aspect-ratio: 1/1;
  img {
    object-fit: cover;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// about
.about {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media screen and (max-width: 767px) {
    margin-top: 5em;
  }
}

//news
.news,
.collection {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14em;
  position: relative;
  &.tique {
    margin-top: 10em;
  }
}

.collection {
  margin-bottom: 3em;
  @media screen and (max-width: 767px) {
    margin-top: 10em;
    margin-bottom: 5em;
    &.tique {
      margin-top: 5em;
    }
  }
}

.button {
  display: block;
  &.active {
    display: none;
  }
}

//フラワのーカラム
.flowerColumn {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 5em;

  @media screen and (max-width: 767px) {
    width: 89%;
  }

  .flowerDetail {
    padding: 0 0.5em;
    width: calc(100vw / 6);
    &.varietyFlowerDetail {
      padding: 0 0.3em;
    }
  }

  @media screen and (max-width: 767px) {
    .flowerDetail {
      width: 30%;
      padding: 0%;
    }
    .flowerDetail:nth-child(n + 4) {
      display: none;
    }
  }

  .flowerColumnPic {
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: pointer;
    img {
      object-fit: cover;
    }
    :hover {
      transform: scale(1.07);
      transition-duration: 0.3s;
    }
  }

  &.varietyColumn {
    margin-bottom: 0em;
  }
}

//brand-new tiqueがないときの処理
.brandNewButton,
.tiqueButton {
  display: block;
  &.active {
    display: none;
  }
}

//品種詳細ページ - その他の品種フラワのーカラム
.otherSec {
  width: 100vw;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  .otherFlowerCol {
    justify-content: space-between;
    list-style: none;
    @media screen and (max-width: 767px) {
      overflow: hidden;
    }

    .flowerDetail {
      padding: 0 0.5em;
      width: calc(100vw / 6);
      @media screen and (max-width: 767px) {
        width: calc(100vw / 1.5);
      }
    }

    .flowerColumnPic {
      aspect-ratio: 1/1;
      img {
        object-fit: cover;
      }
    }

    .flowerName {
      margin-top: 0.4em;
      text-align: center;
    }
  }

  //アニメーション
  @keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes infinity-scroll-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .aniLef {
    animation: infinity-scroll-left 95s infinite linear 0.5s both;
  }

  .aniRig {
    animation: infinity-scroll-right 95s infinite linear 0.5s both;
  }
}
