.varietyList {
  max-width: 1920px;
  .flowerAwardIcon {
    width: 3em;
    margin-left: 2em;
    top: 0%;
    right: 0%;
    transform: translate(-10%, 10%);
    @media screen and (max-width: 767px) {
      width: 4em;
    }
  }

  .varietyFlowerName {
    font-size: 1.2em;
  }
}
