@charset "utf-8";

:root {
  --main: #000;
  --gl: #fff;
  --lg: #bababa;
  --slg: #f3f3f3;
  --noto-font: "Noto Serif JP", serif;
}

html {
  font-size: 62.5%;

  // font-size: calc(62.5% + 25 * (100vw - 320px) / 1600);
  font-size: calc(1rem + ((1vw - 3.2px) * 0.5));
  min-height: 0vw;
  @media screen and (max-width: 767px) {
    font-size: 110%;
  }
  @media (max-width: 320px) {
    font-size: 80%;
  }

  // 1920px以上は、24pxに
  @media (min-width: 1921px) {
    font-size: 160%;
  }
}

//背景色をランダム
.backColor1 {
  background-color: #f03737 !important;
}

.backColor2 {
  background-color: #ce3e60 !important;
}

.backColor3 {
  background-color: #5eaeb5 !important;
}

.backColor4 {
  background-color: #e96123 !important;
}

.backColor5 {
  background-color: #3eb47b !important;
}

.backColor6 {
  background-color: #286eca !important;
}

.backColor7 {
  background-color: #eed452 !important;
}

/* ボタン */

.button_wrap {
  line-height: 1;
  text-align: center;
}

.button {
  line-height: 0;
  position: relative;
  z-index: 1;
}
.button a,
.button.swiper {
  display: inline-block;
  font-weight: normal;
  line-height: 1;
  min-width: 150px;
  padding: 0.7em 4em;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  white-space: nowrap;
}

.button a:hover,
.button.swiper:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button.normal {
  margin-top: 1em;
}
.button.normal a {
  padding: 0.5em 1.2em 0.6em;
}
.button.normal a:before {
  background-color: #ce806f;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.button.normal a:hover {
  background: #884646;
}

.button span {
  display: block;
  font-size: 0.6em;
  line-height: 1;
  margin-top: 0.2em;
}
.button p {
  display: block;
  font-size: 0.6em;
  line-height: 1;
}
.button p br {
  line-height: 1.3;
}

.button.circle {
  border-radius: 6em;
  display: inline-block;
  height: 6em;
  width: 6em;
}
.button.circle a {
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  font-size: 0.6em;
  min-width: initial;
  opacity: 0;
  padding: 0;
  width: 100%;
}
.button.circle a:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button.circle a:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 1em;
  left: 50%;
  padding-left: 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button.circle a br {
  line-height: 1.3;
}
.radius a,
.radius.swiper {
  border-radius: 50px;
  font-weight: bold;
  padding: 0.7em 2em;
}
.radius a:before,
.radius.swiper:before {
  background-color: #ea005a;
  border-radius: 50px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

//フォントサイズPc
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.7em;
}

h6 {
  font-size: 0.5em;
}

//フォントサイズSp
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.8em;
  }

  h5 {
    font-size: 0.7em;
  }

  h6 {
    font-size: 0.4em;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100vw;
  background-color: var(--gl);

  &.noscroll {
    height: 100vh;
    overflow: hidden;
  }
  > .inner {
    overflow: hidden;
  }

  &.noScroll {
    height: 100vh;
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--noto-font);
  font-weight: 700;
  color: var(--main);
}

img,
svg {
  // width: 100%;
  // height: 100%;
}

.section {
  margin-top: 4em;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    margin-top: 3em;
  }
}

.grid1 {
  width: 94%;
}

.grid2 {
  width: 87%;
}

.grid3 {
  width: 81%;
}

.grid4 {
  width: 62%;
}

//改行
.br {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: block;
}

.brSp {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: block;
}

// scrollアニメーション
.int {
  opacity: 0;
  transform: translateY(1em);
  transition: all 0.7s;
}

.intActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s;
}

.intActive_right {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s;
}

.svg {
  position: relative;
  path {
    stroke: #6b5c54; /*線*/
    stroke-width: 5; /*stroke不要は 0*/
    stroke-linecap: square; /*round角丸、square直角*/
    animation: svg1 5s ease-in both; /*5sはアニメーション時間5秒*/ /*infiniteはリピート、 1回のみはforwards*/
  }
}

@keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 1800; /*細かさ：試しにいろんな数字に置き換えてみてください*/
    stroke-dashoffset: 1800;
  }
  20% {
    fill: transparent;
    stroke-dashoffset: 1000; /*アニメーション開始〜1.5秒でstroke書き終える*/
  }
}

.svg1 {
  position: relative;
  path {
    stroke: #6b5c54; /*線*/
    stroke-width: 5; /*stroke不要は 0*/
    stroke-linecap: square; /*round角丸、square直角*/
    animation: svg1 5s ease-in both; /*5sはアニメーション時間5秒*/ /*infiniteはリピート、 1回のみはforwards*/
  }
}

@keyframes svg1 {
  0% {
    fill: transparent;
    stroke-dasharray: 5500; /*細かさ：試しにいろんな数字に置き換えてみてください*/
    stroke-dashoffset: 5500;
  }
  20% {
    fill: transparent;
    stroke-dashoffset: 1000; /*アニメーション開始〜1.5秒でstroke書き終える*/
  }
}
