@charset "utf-8";

.foncolW {
  color: var(--gl) !important;
}

h1 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 500;
}

//セクション間の隙間
.sectionSpace {
  margin-top: 17em;
  @media screen and (max-width: 767px) {
    margin-top: 12em;
  }
}

.sectionSpaceM {
  margin-top: 10em;
  @media screen and (max-width: 767px) {
    margin-top: 8em;
  }
}

.sectionSpaceS {
  margin-top: 4em;
}

//見出しタイトル、サブタイトル
.titleColumn {
  @media screen and (max-width: 767px) {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .titleBorder {
    border: solid 0.001em var(--main);
    width: 2em;

    &.white {
      border: solid 0.001em var(--gl);
    }
  }
  .titleText {
    line-height: 2.4;
  }
}

//ニュースのカラム
.newsColumn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

  .newsDetail {
    width: 30%;
    cursor: pointer;

    .newsDetailPic {
      aspect-ratio: 1/1;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      :hover {
        transform: scale(1.07);
        transition-duration: 0.3s;
      }
    }
    .newsDetailText {
      padding-top: 0.8em;
      .newsDate {
        margin-bottom: 0.3em;
      }
      .newsDe {
        line-height: 2;
        margin-top: 1.5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-break: break-all;
        cursor: pointer;
      }

      .moreViewText {
        cursor: pointer;
        width: 5em;
        text-align: center;
        margin: 1.3em 0 0 auto;
      }
    }
  }
  &.newsPageDetail {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    display: block;
    width: 89%;
    .newsDetail {
      width: 100%;
      margin-bottom: 5em;
      .newsDetailText {
        .moreViewText {
          width: 8em;
          margin-top: 1em;
        }
      }
    }
  }

  //ニュースが1,2個のときの処理
  &.oneLength {
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
  &.twoLength {
    @media screen and (min-width: 768px) {
      width: 45%;
      .newsDetail {
        width: 44%;
      }
    }
  }
}

//ニュースがないときの処理
.newsMessage {
  display: none;
  &.active {
    display: block;
  }
}

//コレクションページ-品種のカラム
.collection {
  @media screen and (max-width: 767px) {
    margin-top: 7em;
  }
  .collectionColumn {
    @media screen and (max-width: 767px) {
      margin-top: 5em;
    }
    h3 {
      display: inline-block;
      font-weight: 700;
    }

    .titleBorder {
      border-bottom: 1px solid var(--main);
    }
  }
}

//品種一覧
.varietyListColumn {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 89%;
  }

  .flowerListColumn .flowerBreed1:nth-child(2n-1),
  .flowerListColumn .flowerBreed1:nth-child(4n-2) {
    margin-right: calc(8% / 3);
  }

  .flowerListColumn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    &.active {
      margin-bottom: 7em;
    }
    @media screen and (max-width: 767px) {
      display: block;
    }

    .flowerBreed1 {
      width: 23%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .flowerBreedPic {
        width: 100%;
        aspect-ratio: 2/3;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .flowerFavorite {
          width: 1.5em;
          position: absolute;
          bottom: 0%;
          right: 0%;
          transform: translate(-27%, -27%);
        }
      }

      .flowerColor {
        align-items: center;
      }

      .flowerName {
        font-size: 0.8em;
        margin-top: 0.7em;
      }

      .varietyListSpec {
        margin-top: 0.5em;

        display: flex;
        justify-content: left;
        align-items: center;
        @media screen and (min-width: 768px) {
          padding-right: 0.3em;
        }
        .varietyListSpecBorder {
          width: 0.04em;
          background-color: var(--main);
          margin-right: 0.7em;
          @media screen and (min-width: 768px) {
            margin-right: 0.3em;
          }
        }
        .varietyListSpecDetail1 {
          margin-right: 10%;
        }
      }
    }
  }
}

//flowerColorBox
.flowerColorBox {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  &.pink {
    background-color: var(--pn);
  }
  &.lightPink {
    background-color: var(--lpn);
  }
  &.purple {
    background-color: var(--pr);
  }
  &.beige {
    background-color: var(--be);
  }
  &.orange {
    background-color: var(--or);
  }
  &.yellow {
    background-color: var(--ye);
  }
  &.white {
    background-color: var(--wh);
  }
  &.multi {
    background: linear-gradient(-20deg, var(--pr), var(--ye));

    // background-color: linear-gradient(-20deg, #db57cd 0%, #01e466 100%);
  }
}

// ボーダー
.border {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 0.06em;
  background-color: var(--main);
}

//ページ選択
.pageOption {
  width: 16%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    width: 42%;
  }

  .pageOptionPart {
    display: inline-block;
    text-align: center;
    .pageOptionBorder {
      width: 1em;
      height: 0.08em;
      background-color: var(--main);
    }
  }
}

//品種ページのハート
.flowerheart {
  width: 1.5em; /* 正方形を作る */
  height: 1.5em; /* 正方形を作る */
  position: relative; /* 基準位置とする */
  cursor: pointer;
  &.active::before,
  &.active::after {
    content: ""; /* 疑似要素に必須 */
    background-color: var(--pn);
  }
}
.flowerheart::before,
.flowerheart::after {
  content: ""; /* 疑似要素に必須 */
  width: 50%; /* ハートの丸い部分の大きさにかかわる */
  height: 80%; /* ハートの高さにかかわる */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
  background-color: #9f9f9f;
}
.flowerheart::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%; /* 左からの位置を指定 */
}
.flowerheart::after {
  transform: rotate(45deg); /* 右に回転 */
  right: 14%; /* 右からの位置を指定 */
}

//More View/Foldingの制御
.moreView {
  display: block;
  margin: 7em 0 0 0;
  &.active {
    display: none;
  }
}

.foldingButton {
  display: none;
  &.active {
    display: block;
  }
}
