@charset "utf-8";

:root {
  --main: #000;
  --gl: #fff;
}

.foncolW {
  color: var(--gl) !important;
}

h1 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 500;
}

//セクション間の隙間
.sectionSpace {
  margin-top: 17em;
  @media screen and (max-width: 767px) {
    margin-top: 12em;
  }
}

.sectionSpaceM {
  margin-top: 10em;
  @media screen and (max-width: 767px) {
    margin-top: 8em;
  }
}

.sectionSpaceS {
  margin-top: 4em;
}

//見出しタイトル、サブタイトル
.titleColumn {
  h2,
  h5 {
    text-align: center;
  }

  h2 {
    margin: 0.5em auto 1em auto;
  }

  h5 {
    line-height: 2em;
  }
  @media screen and (max-width: 767px) {
    width: 67%;
    margin-right: auto;
    margin-left: auto;
  }
}

//ニュースのカラム
.newsColumn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  h4 {
    font-weight: 700;
  }
  .newsDetail {
    width: 30%;
    .newsDetailText {
      padding-top: 1.2em;
      h6 {
        padding-top: 1.7em;
      }

      .moreViewText {
        width: 5em;
        text-align: center;
        margin-top: 0.7em;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  &.newsPageDetail {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    display: block;
    width: 89%;
    .newsDetail {
      width: 100%;
      margin-bottom: 5em;
      .newsDetailText {
        .moreViewText {
          width: 8em;
          margin-top: 1em;
        }
      }
    }
  }
}

//フラワのーカラム
.flowerColumn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    width: 89%;
  }

  .flowerDetail {
    padding: 0 0.5em;
    width: 19%;
    &.varietyFlowerDetail {
      padding: 0 0.3em;
    }
  }

  @media screen and (max-width: 767px) {
    .flowerDetail {
      width: 30%;
      padding: 0%;
    }
    .flowerDetail:nth-child(n + 4) {
      display: none;
    }
  }

  .flowerColumnPic {
    aspect-ratio: 1/1;
    img {
      object-fit: cover;
    }
  }
  .flowerName {
    margin-top: 0.4em;
    text-align: center;
  }
}

// もっと見るボタン
.moreViewButton {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  width: 10em;
  padding: 0.4em;
  h5 {
    text-align: center;
  }
  .borderBlack,
  .borderWhite {
    position: absolute;
    background-color: var(--main);
    width: 1.5em;
    height: 0.08em;
    top: 50%;
    transform: translateY(-50%);
  }
  .borderBlack {
    background-color: var(--main);
    left: 0%;
    transform: translateX(-100%);
  }

  .borderWhite {
    background-color: #fff;
    left: 0%;
  }

  //送信ボタン
  .sendButtonText {
    font-weight: 700;
  }

  &.sendButton {
    border-radius: 9999px;
  }
}

//コレクションページ-品種のカラム
.collectionColumn {
  margin-left: auto;
  margin-right: auto;
  h3 {
    display: inline-block;
    font-weight: 700;
  }

  .titleBorder {
    border-bottom: 1px solid var(--main);
  }

  .collectionName {
    line-height: 2;
  }

  .flowerBreed {
    @media screen and (max-width: 767px) {
      margin-top: 4em;
    }
  }

  //PC版デザイン
  .flowerBreedPc {
    @media screen and (max-width: 767px) {
      display: none;
    }

    .flowerDetailColumn {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      .flowerName {
        margin-bottom: 2em;
      }
      .flowerSpec {
        padding-right: 4em;
      }
      .flowerSpecDetail {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 0.3em;

        .flowerColorBox {
          width: 0.8em;
          height: 0.8em;
          background-color: rgb(236, 217, 0);
          margin-right: 0.5em;
        }

        .flowerheart {
          width: 1em;
          margin-left: 0;
          margin-right: 0.5em;
          object-fit: contain;
        }
      }

      .flowerSpec .flowerSpecDetail:nth-child(7) {
        margin: 6em 0 2em 0;
      }
    }
    .flowerPicColumn {
      width: 64%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .flowerPic1 {
        width: 27%;
      }
      .flowerPic2 {
        width: 70%;
        img {
          object-fit: cover;
        }
      }
    }
  }

  //SP版デザイン
  .flowerBreedSp {
    .flowerSpecDetail {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      margin-bottom: 0.3em;

      .flowerColorBox {
        width: 0.8em;
        height: 0.8em;
        background-color: rgb(236, 217, 0);
        margin-right: 0.5em;
      }
    }

    .flowerPicColumn {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .flowerPic1 {
        width: 58%;
      }
      .flowerPic2 {
        height: 100%;
        width: 36%;
        img {
          object-fit: cover;
        }
      }
    }
    .flowerSpec {
      margin-top: 1.5em;
      display: flex;
      justify-content: left;
      align-items: center;
      .flowerSpecBorder {
        width: 0.04em;
        height: 3em;
        background-color: var(--main);
        margin-right: 0.4em;
      }
      .flowerSpecDetail1 {
        margin-right: 1.5em;
      }
    }

    .flowerFavorite {
      display: flex;
      justify-content: right;
      align-items: center;
      .flowerheart {
        width: 1em;
        margin-right: 0.5em;
        object-fit: contain;
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

//品種一覧
.varietyListColumn {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 89%;
  }

  .flowerListColumn .flowerBreed1:nth-child(2n-1),
  .flowerListColumn .flowerBreed1:nth-child(4n-2) {
    margin-right: calc(8% / 3);
  }

  .flowerListColumn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      display: block;
    }

    .flowerBreed1 {
      width: 23%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .flowerBreedPic {
        position: relative;
        .flowerFavorite {
          width: 1.5em;
          position: absolute;
          bottom: 0%;
          right: 0%;
          transform: translate(-27%, -27%);
        }
      }

      .flowerColor {
        margin-top: 0.5em;
        display: flex;
        justify-content: left;
        align-items: center;
        .flowerColorBox {
          width: 1em;
          height: 1em;
          margin-right: 0.3em;
          background-color: yellow;
        }
      }

      .flowerName {
        margin-top: 0.7em;
      }

      .varietyListSpec {
        margin-top: 0.5em;
        display: flex;
        justify-content: left;
        align-items: center;
        .varietyListSpecBorder {
          width: 0.04em;
          height: 2em;
          background-color: var(--main);
          margin-right: 0.4em;
        }
        .varietyListSpecDetail1 {
          margin-right: 1.5em;
        }
      }
    }
  }
}

// ボーダー
.border {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 0.06em;
  background-color: var(--main);
}

//ページ選択
.pageOption {
  width: 16%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    width: 42%;
  }

  .pageOptionPart {
    display: inline-block;
    text-align: center;
    .pageOptionBorder {
      width: 1em;
      height: 0.08em;
      background-color: var(--main);
    }
  }
}

//フッター
.footer {
  background-color: var(--main);
  color: var(--gl) !important;

  h1,
  h3 {
    font-weight: 700;
    margin-bottom: 1.5em;
  }
  .footerColumn {
    width: 89%;
    padding: 7em 0 4em 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    h3 {
      margin-top: 0.5em;
    }
    @media screen and (max-width: 767px) {
      padding: 5em 0 4em 0;
      display: block;
    }
  }
  .footerContentsDetail,
  .footerContactDetail {
    h5,
    h6 {
      margin-bottom: 0.8em;
    }
    h6 {
      padding-left: 1em;
    }
    .contactButton {
      width: 8em;
      @media screen and (max-width: 767px) {
        width: 10em;
      }
    }
    //SNS
    .snsColumn {
      width: 48%;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 767px) {
        width: 36%;
      }
    }
  }

  .rosetiqueInfo,
  .footerContents {
    padding-right: 2em;

    @media screen and (max-width: 767px) {
      padding: 0;
      margin-bottom: 4em;
    }
  }
  .footerCopilight {
    text-align: center;
    padding: 1.5em 0;
    @media screen and (max-width: 767px) {
      padding: 2em 0;
    }
  }
}
