@charset "utf-8";

.foncolW {
  color: var(--gl) !important;
}

h1 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 500;
}

//セクション間の隙間
.sectionSpace {
  margin-top: 17em;
  @media screen and (max-width: 767px) {
    margin-top: 12em;
  }
}

.sectionSpaceM {
  margin-top: 10em;
  @media screen and (max-width: 767px) {
    margin-top: 8em;
  }
}

.sectionSpaceS {
  margin-top: 4em;
}

//見出しタイトル、サブタイトル
.titleColumn {
  h2,
  h5 {
    text-align: center;
  }

  h2 {
    margin: 0.5em auto 1em auto;
  }

  h5 {
    line-height: 2em;
  }
  @media screen and (max-width: 767px) {
    width: 67%;
    margin-right: auto;
    margin-left: auto;
  }
}

//ニュースのカラム
.newsColumn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  h4 {
    font-weight: 700;
  }
  .newsDetail {
    width: 30%;
    cursor: pointer;

    .newsDetailPic {
      aspect-ratio: 1/1;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      :hover {
        transform: scale(1.07);
        transition-duration: 0.3s;
      }
    }
    .newsDetailText {
      padding-top: 1.2em;
      h6 {
        padding-top: 1.7em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-break: break-all;
        cursor: pointer;
      }

      .moreViewText {
        cursor: pointer;
        width: 5em;
        text-align: center;
        margin-top: 0.7em;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  &.newsPageDetail {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    display: block;
    width: 89%;
    .newsDetail {
      width: 100%;
      margin-bottom: 5em;
      .newsDetailText {
        .moreViewText {
          width: 8em;
          margin-top: 1em;
        }
      }
    }
  }
}

//コレクションページ-品種のカラム
.collectionColumn {
  margin-left: auto;
  margin-right: auto;
  h3 {
    display: inline-block;
    font-weight: 700;
  }

  .titleBorder {
    border-bottom: 1px solid var(--main);
  }

  .collectionName {
    line-height: 2;
  }

  //品種詳細ページデザイン
  .flowerBreedPc {
    .flowerTitleColPc {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .flowerTitleColSp {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    .flowerSpecDetail {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 0.3em;
      p {
        margin-left: 1em;
      }
    }
    .flowerDetailColumn {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }

      .flowerName {
        margin-bottom: 2em;
      }
      .flowerSpec {
        padding-right: 4em;
        @media screen and (max-width: 767px) {
          padding-right: 0em;
        }
      }

      .flowerSpec .flowerSpecDetail:nth-child(7) {
        margin: 6em 0 2em 0;
        @media screen and (max-width: 767px) {
          margin: 4em 0;
        }
      }
      .flowerAwardIcon {
        width: 6em;
        height: auto;
        position: absolute;
        top: 0%;
        right: 0%;
      }
    }

    .flowerDetail {
      width: 50%;
      @media screen and (max-width: 767px) {
        order: 1;
        margin: 1em 0;
      }
    }
    .flowerPicColumn {
      order: 1;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .flowerPic1 {
        width: 35%;
        @media screen and (max-width: 767px) {
          order: 1;
        }
      }
      .flowerPic2 {
        width: 60%;
        @media screen and (max-width: 767px) {
          order: 0;
        }
        img {
          object-fit: cover;
        }
      }
      @media screen and (max-width: 767px) {
        order: 0;
        width: 100%;
        margin: 2em auto;
      }
    }
  }
}

//品種一覧
.varietyListColumn {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 89%;
  }

  .flowerListColumn .flowerBreed1:nth-child(2n-1),
  .flowerListColumn .flowerBreed1:nth-child(4n-2) {
    margin-right: calc(8% / 3);
  }

  .flowerListColumn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      display: block;
    }

    .flowerBreed1 {
      width: 23%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .flowerBreedPic {
        width: 100%;
        aspect-ratio: 2/3;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .flowerFavorite {
          width: 1.5em;
          position: absolute;
          bottom: 0%;
          right: 0%;
          transform: translate(-27%, -27%);
        }
      }

      .flowerColor {
        align-items: center;
      }

      .flowerName {
        font-size: 0.8em;
        margin-top: 0.7em;
      }

      .varietyListSpec {
        margin-top: 0.5em;
        display: flex;
        justify-content: left;
        align-items: center;
        .varietyListSpecBorder {
          width: 0.04em;
          height: 2em;
          background-color: var(--main);
          margin-right: 0.4em;
        }
        .varietyListSpecDetail1 {
          margin-right: 1.5em;
        }
      }
    }
  }
}

//flowerColorBox
.flowerColorBox {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  &.pink {
    background-color: var(--pn);
  }
  &.lightPink {
    background-color: var(--lpn);
  }
  &.purple {
    background-color: var(--pr);
  }
  &.beige {
    background-color: var(--be);
  }
  &.orange {
    background-color: var(--or);
  }
  &.yellow {
    background-color: var(--ye);
  }
  &.white {
    background-color: var(--wh);
  }
  &.multi {
    background: linear-gradient(-20deg, var(--pr), var(--ye));

    // background-color: linear-gradient(-20deg, #db57cd 0%, #01e466 100%);
  }
}

// ボーダー
.border {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 0.06em;
  background-color: var(--main);
}

//ページ選択
.pageOption {
  width: 16%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    width: 42%;
  }

  .pageOptionPart {
    display: inline-block;
    text-align: center;
    .pageOptionBorder {
      width: 1em;
      height: 0.08em;
      background-color: var(--main);
    }
  }
}

//品種ページのハート
.flowerheart {
  width: 1.5em; /* 正方形を作る */
  height: 1.5em; /* 正方形を作る */
  position: relative; /* 基準位置とする */
  &.active::before,
  &.active::after {
    content: ""; /* 疑似要素に必須 */
    background-color: var(--pn);
  }
}
.flowerheart::before,
.flowerheart::after {
  content: ""; /* 疑似要素に必須 */
  width: 50%; /* ハートの丸い部分の大きさにかかわる */
  height: 80%; /* ハートの高さにかかわる */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
  background-color: #9f9f9f;
}
.flowerheart::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%; /* 左からの位置を指定 */
}
.flowerheart::after {
  transform: rotate(45deg); /* 右に回転 */
  right: 14%; /* 右からの位置を指定 */
}
